/* CSS clearing section */

:root {
    /* global custom properties */
    --burger-color: #404048;
    --clr-main: #404048;
    --clr-mid: #8f8f9e;
    --clr-light: #cfcfdf;
    --clr-accent: #33aaff;
    --margin-bottom: 2rem;
    --top-shadow: 0px -4px 8px #0005, 0px -2px 3px #0009;
    --bottom-shadow: 0px 4px 8px #0005, 0px 2px 3px #0009;
    --transition-speed: 250ms;
}

*,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    /* display: grid; */
    /* min-height: 100vh; */
    /* grid-template-rows: 1fr auto; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--clr-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 .8em 0;
    padding: 0;
    line-height: 1em;
}

p {
    line-height: 1.4em;
    margin-bottom: calc(var(--margin-bottom) / 2);
    max-width: 60em;
}

a {
    text-decoration: none;
    letter-spacing: .05em;
    color: var(--clr-main);
    transition: color var(--transition-speed) ease-out;
}

a:hover,
a:focus {
    color: var(--clr-accent);
}

.header a,
.footer a {
    text-transform: uppercase;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: calc(5em + 2vw);
    margin-bottom: 3em;
}

.main {
    flex: 0 1;
}

.container {
    width: min(80%, 1200px);
    padding: 1em 0;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fffe;
    box-shadow: var(--bottom-shadow);
    z-index: 5000;
}

.branding {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    column-gap: 1em;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.branding__image {
    width: 40px;
    height: auto;
    grid-column: 1 / 2;
}

.branding__text {
    grid-column: 2 / 3;
    font-size: calc(1.5em + 1vw);
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    width: min-content;
    margin: 0 auto;
}

nav {
    display: none;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    align-items: center;
}

.nav__item {
    margin-left: 2em;
}

.nav__link {
    text-decoration: none;
    color: var(--clr-main);
}

.nav__toggle {
    display: flex;
    justify-content: flex-end;
    grid-column: 3 / 4;
    width: 40px;
    height: 40px;
}

.hamburger {
    position: relative;
    right: 0px;
    top: calc(50% - 3px);
    width: 40px;
    height: 6px;
    background-color: var(--burger-color);
    border-radius: 3px;
    transition: var(--transition-speed) ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: var(--burger-color);
    border-radius: 3px;
    transition: var(--transition-speed) ease-in-out;
}

.hamburger::before {
    bottom: 11px;
}

.hamburger::after {
    top: 11px;
}

.nav__toggle:hover .hamburger,
.nav__togle:focus .hamburger {
    background-color: transparent;
}

.nav__toggle:hover .hamburger::after,
.nav__toggle:focus .hamburger::after {
    transform: rotate(-45deg) translate(10px, -6px);
}

.nav__toggle:hover .hamburger::before,
.nav__toggle:focus .hamburger::before {
    transform: rotate(45deg) translate(10px, 6px);
}

.open {
    --burger-color: var(--clr-accent);
}

.page-header {
    position: relative;
    z-index: 4000;
    min-height: 100px;
    margin-bottom: var(--margin-bottom);
    color: white;
    font-size: calc(2em + 2vw);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 15px #0009;
    padding: .5em 1em;
    background-color: var(--clr-mid);
    background-blend-mode: multiply;
    background-size: cover;
}

.page-home {
    background-image: url('/images/header/typewriter.jpg');
}

.page-about {
    background-image: url('/images/header/about.jpg');
}

.text {
    margin-bottom: var(--margin-bottom);
}

.images {
    display: flex;
    margin: 0 auto;
    margin-bottom: var(--margin-bottom);
    justify-content: center;
    align-items: flex-start;
}

.books {
    width: 75%;
}

.book {
    width: 30%;
    height: auto;
    box-shadow: var(--bottom-shadow);
    z-index: 3000;
}

.book:first-of-type {
    transform: rotate(-15deg) translate(5px, 15px);
    z-index: 3001;
}

.book:last-of-type {
    transform: rotate(15deg) translate(-5px, 15px);
    z-index: 2999;
}

.footer {
    grid-row: -2 / -1;
    box-shadow: var(--top-shadow);
    z-index: 5000;
    position: fixed;
    bottom: 0;
    background-color: rgba(236, 230, 230, .8);
    width: 100%;
}

.footer .copyright {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .section {
        display: flex;
    }
    .text {
        width: 50%;
    }
    .images {
        align-self: center;
        width: 45%;
    }
}

@media (min-width: 1120px) {}