/* CSS clearing section */

:root {
    /* global custom properties */
    --clr-main: #404048;
    --clr-light: #cfcfdf;
    --clr-accent: #33aaff;
    --margin-bottom: 2em;
    --top-shadow: 0px -4px 8px #0005, 0px -2px 3px #0009;
    --bottom-shadow: 0px 4px 8px #0005, 0px 2px 3px #0009;
    --transition-speed: 250ms;
}

*,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--clr-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 .8em 0;
    padding: 0;
    line-height: 1em;
}

p {
    line-height: 1.4em;
    margin-bottom: calc(var(--margin-bottom) / 2);
}

a {
    text-decoration: none;
    letter-spacing: .05em;
    color: var(--clr-main);
    transition: var(--transition-speed) ease-out;
}

a:hover,
a:focus {
    color: var(--clr-accent);
}

.header a,
.footer a {
    text-transform: uppercase;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-auto-rows: auto 1fr auto; */
}

.main {
    flex: 0 1;
}

.container {
    width: min(80%, 1200px);
    padding: 1em 0;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.header {
    flex: 0 0;
    background-color: white;
    /* border-bottom: 4px solid #ccc; */
    /* margin-bottom: 2em; */
    box-shadow: var(--bottom-shadow);
    z-index: 5000;
}

.branding {
    display: flex;
    align-items: center;
    width: 100%;
}

.branding__image {
    width: 100px;
    height: auto;
    margin-right: 1em;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    align-items: center;
}

.nav__item {
    margin-left: 2em;
}

.nav__link {
    text-decoration: none;
    color: var(--clr-main);
}

.page-header {
    position: relative;
    z-index: 4000;
    min-height: 100px;
    object-fit: cover;
    color: white;
    font-size: calc(2em + 3vw);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 15px #0009;
    padding: .5em 0;
}

.page-home {
    background-image: url('/images/header/typewriter-blue.jpg');
    background-color: red;
    baclground-blend-mode: multiply;
}

.footer {
    flex: 0 0;
    box-shadow: var(--top-shadow);
    /* margin-top: var(--margin-bottom); */
    z-index: 5000;
}