<ul class="nav__list row">
    <li class="nav__item">
        <a href="/" class="nav__link">Home</a>
    </li>
    <li class="nav__item">
        <a href="#" class="nav__link">About</a>
    </li>
    <li class="nav__item">
        <a href="#" class="nav__link">Services</a>
    </li>
    <li class="nav__item">
        <a href="#" class="nav__link">Portfolio</a>
    </li>
    <li class="nav__item">
        <a href="#" class="nav__link">Testimonials</a>
    </li>
    <li class="nav__item">
        <a href="#" class="nav__link">Contact</a>
    </li>
</ul>