<ul class="nav__list">
    <li class="nav__list__item">
        <a href="/" class="nav__link">
            <div class="nav__item">Home</div>
        </a>
    </li>
    <li class="nav__list__item">
        <a href="/about.html" class="nav__link">
            <div class="nav__item">About</div>
        </a>
    </li>
    <li class="nav__list__item">
        <a href="/" class="nav__link">
            <div class="nav__item">Services</div>
        </a>
    </li>
    <li class="nav__list__item">
        <a href="/" class="nav__link">
            <div class="nav__item">Portfolio</div>
        </a>
    </li>
    <li class="nav__list__item">
        <a href="/" class="nav__link">
            <div class="nav__item">Testimonials</div>
        </a>
    </li>
    <li class="nav__list__item">
        <a href="/" class="nav__link">
            <div class="nav__item">Contact</div>
        </a>
    </li>
</ul>